/* 设置窗口背景 */
#backgroundWidget {
    border-image: url(./images/background.png) stretch stretch;
    border-radius: 20px;
}
/* 关闭按钮 */
#closeBtn {
    border: none;
    background: none;
}
/* 设置QLabel的样式 */
#text1, #text2, #text3, #text4 {
    color: #fff;
}

/* 设置QPushButton的样式 */
#languageBtn, #templateBtn, #sourceBtn, #transformBtn {
    border: 2px solid #fff;
    border-radius: 20px;
    background: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}